.x-scroll {
    & .more button {
        height: var(--subscription-thumbnail-size);
    }

    & .scroller {
        display: flex;
        flex-flow: wrap;
        height: var(--subscription-thumbnail-size);
        overflow: hidden;
    }

    &.expanded {
        & .scroller {
            height: unset !important;
            overflow: visible;
        }
    }
}

fieldset.x-scroll  {
    & .scroller {
        min-width: 0;
        max-width: 100%;

        & label {
            margin-top: 0;
            & p {
                display: none;
            }
        }
    }

    &.expanded .scroller label p {
        display: unset;
    }
}

