.expander {
    & .more button {
        height: var(--subscription-thumbnail-size);
    }

    & .scroller {
        display: flex;
        flex-flow: wrap;
        height: var(--subscription-thumbnail-size);
        overflow: hidden;
    }

    &.expanded {
        & .scroller {
            height: unset !important;
            overflow: visible;
        }
    }
}
