.wide-container {
    max-width: unset;
}

.heading {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: calc(100vh - var(--nav-height-extra) - var(--footer-height));

    @media (--xs-down) {
        background-image: url('imgs/tapes-720.png');
    }

    @media (--m-down) {
        background-image: url('imgs/tapes-1080.png');
    }

    @media (--l-down) {
        background-image: url('imgs/tapes-1620.png');
    }

    @media (--xl-up) {
        background-image: url('imgs/tapes-2160.png');
    }

    & h1 {
        font-family: var(--font-family-monospace);
        margin: 0;
        font-size: 10vw;
        margin: 10vh 0;

        @media screen and (max-aspect-ratio: 1/1) {
            font-size: 10vh;
        }

        & span {
            background-color: var(--dark-colour);
            margin-right: 2vw;
            margin-left: 2vw;

            @media screen and (max-aspect-ratio: 1/1) {
                margin-right: 2vh;
                margin-left: 2vh;
            }
        }

        @media (--s-up) {
            margin: 10vh 10vw;
        }
    }
}
