.wide-container {
    max-width: unset;
}

.heading {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (--xs-down) {
        background-image: url('imgs/tapes-720.png');
    }

    @media (--m-down) {
        background-image: url('imgs/tapes-1080.png');
    }

    @media (--l-down) {
        background-image: url('imgs/tapes-1620.png');
    }

    @media (--xl-up) {
        background-image: url('imgs/tapes-2160.png');
    }

    & h1 {
        font-family: var(--font-family-monospace);
        margin: 0;
        font-size: 10vw;
        word-wrap: break-word;

        @media (--s-up) {
            letter-spacing: 10vw;
            margin-left: 10vw;
        }
    }
}
