.y-scroll {
    & .scroller {
        overflow-y: scroll;
        white-space: nowrap;
    }
}

.x-scroll {
    & .scroll-right {
        transform: scale(-1, 1);
    }

    & .scroller {
        overflow-x: scroll;
        white-space: nowrap;
    }
}

.invisible-scroll {
    /* Firefox and good browsers */
    scrollbar-width: none;

    /* webkit and bad browsers */
    &::-webkit-scrollbar {
        display: none;
    }
}
