nav {
    color: var(--dark-colour);
    background-color: var(--main-colour);
    min-height: var(--nav-height-extra);

    & ul {
        display: inline-block;
        height: calc(var(--nav-height-extra) / 2);

        @media (--xs) {
            display: none;
            height: unset;
        }
    }

    & li {
        height: var(--nav-height);
    }

    & a {
        text-decoration: none;
    }

    & svg.logo {
        float: left;
        height: 100%;
        width: auto;

        & .fg {
            fill: var(--dark-colour);
            fill-opacity: 1.0;
        }

        &:hover .bg {
            fill: var(--light-colour);
            fill-opacity: 1.0;
        }

        & ~ span {
            margin-left: 8px;
        }
    }
}

#nav-collapse-1 {
    position: absolute;
    top: -9999px;
    left: -9999px;

    @media (--xs) {
        &:checked ~ ul {
            display: block;

            & li {
                margin: 0 0.5rem;
            }
        }
    }

    &:hover ~ .nav-toggle,
    &:focus ~ .nav-toggle {
        background-color: var(--light-colour);
    }

    @media (--s-up) {
        display: none !important;
    }
}

.nav-toggle {
    height: calc(var(--nav-height) - 8px);
    width: 2em;
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;

    & span.burger {
        display: block;
        height: 3px;
        width: 2em;
        margin-bottom: 3px;

        background: var(--dark-colour);
    }

    @media (--s-up) {
            display: none !important;
        }
}

.nav-header {
    display: inline-block;
    height: var(--nav-height-extra);
}
