nav {
    color: var(--dark-colour);
    background-color: var(--main-colour);
    min-height: var(--nav-height-extra);

    & a {
        text-decoration: none;
    }

    & > .nav-header, & > ul, & > .logo-holder {
        display: inline-block;
        vertical-align: middle;
        height: var(--nav-height-extra);
    }

    & .logo-holder {
        width: var(--nav-indent);
    }

    & .nav-header {
    }

    & ul {
        text-transform: lowercase;

        & li {
            margin-left: var(--nav-indent);
        }
    }

    & svg.logo {
        width: auto;

        & .fg {
            fill: var(--dark-colour);
            fill-opacity: 1.0;
        }

        &:hover .bg {
            fill: var(--light-colour);
            fill-opacity: 1.0;
        }

    }
}

#nav-collapse-1 {
    position: absolute;
    top: -9999px;
    left: -9999px;

    @media (--xs-down) {
        & ~ ul {
            display: none;
            height: unset;
        }

        &:checked ~ ul {
            display: block;

            & li {
                display: block;
                margin-left: var(--nav-indent);
            }
        }
    }

    &:hover ~ .nav-toggle,
    &:focus ~ .nav-toggle {
        background-color: var(--light-colour);
    }

    @media (--s-up) {
        display: none !important;
    }
}

.nav-toggle {
    height: calc(var(--nav-height) - 8px);
    width: 2em;
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;

    & span.burger {
        display: block;
        height: 3px;
        width: 2em;
        margin-bottom: 3px;

        background: var(--dark-colour);
    }

    @media (--s-up) {
            display: none !important;
        }
}
