.subscription-list a, .subscription-thumbnail-default {
    height: var(--subscription-thumbnail-size);
    width: var(--subscription-thumbnail-size);
}

.subscription-thumbnail {
    width: var(--subscription-thumbnail-size);
}

.subscription-thumbnail p {
    overflow-wrap: break-word;
    white-space: normal;
    hyphens: auto;
}

fieldset  {
    & legend {
        font-size: var(--label-font-size);
        margin: var(--label-margin);
    }

    & .subs {
        min-width: 0;
        max-width: 100%;
    }
}
