#player {
    width: 100%;
    height: 80vh;
}

#player svg.logo {
    & .bg {
        fill: var(--secondary-900);
        fill-opacity: 1.0;
    }

    & .fg {
        fill: var(--primary);
        fill-opacity: 1.0;
    }
}

#playlist-box {
    width: 40%;
}

#details-box {
    width: 60%;
}

#playlist-box, #details-box {
    min-height: var(--playlist-height);
}

#playlist-box .scroller {
    overflow-y: scroll;
}

#playlist {
    max-height: var(--playlist-height);
}
