{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <script type="text/javascript" src="{% static "website.min.js" %}"></script>
        <link href="{% static "public.css" %}" rel="stylesheet" type="text/css" />
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include "subscribae/includes/nav.html" %}
        {% block container %}
            <div class="container padding-vertical-xs">{% block content %}{% endblock %}</div>
        {% endblock %}
        <div class="footer container">{{ site_config.render_footer }} |
            <a href="{% url "source" %}">{% blocktrans with site_name=site_config.site_name %}{{ site_name }} is Free Software{% endblocktrans %}</a></div>
    </body>
</html>
