{% load assets staticfiles i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        {% assets "main_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "main_css" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
        {% endassets %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="nav-inline">
            {% include "subscribae/includes/logo.svg" %}
            {# label must be a sibling after checkbox to allow styling of label based on checkbox focus #}
            <input type="checkbox" id="nav-collapse-1">
            <label for="nav-collapse-1" role="button" class="nav-toggle margin-right-xs border border-radius">
                <span class="screen-reader">{% trans "Toggle navigation" %}</span>
                {% include "subscribae/includes/drop-down.svg" %}
            </label>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url "overview" %}">
                        <span>Overview</span>
                    </a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="container gutter-vertical">{% block content %}{% endblock %}</div>
        <div class="footer container">{{ site_config.render_footer }}</div>
    </body>
</html>
