{% load assets staticfiles i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        {% assets "main_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "main_css" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" />
        {% endassets %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="nav-inline">
            <div class="nav-header">
                <a href="{% url "home" %}">
                    {% include "subscribae/includes/logo.svg" %}
                    <span class="display-title display-title-l">{{ site_config.site_name }}</span>
                </a>
            </div>
            {# label must be a sibling after checkbox to allow styling of label based on checkbox focus #}
            <input type="checkbox" id="nav-collapse-1">
            <label for="nav-collapse-1" role="button" class="nav-toggle margin-right-xs">
                <span class="screen-reader">{% trans "Toggle navigation" %}</span>
                <span class="burger"></span>
                <span class="burger"></span>
                <span class="burger"></span>
            </label>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_active %}
                        <li><a href="{% url "overview" %}">
                            <span>Overview</span>
                        </a></li>
                    {% endif %}
                {% else %}
                    <li><a href="{% url "djangae_login_redirect" %}">
                        <span>Login</span>
                    </a></li>
                {% endif %}
            </ul>
        </nav>
        {% block container %}
            <div class="container padding-vertical-xs">{% block content %}{% endblock %}</div>
        {% endblock %}
        <div class="footer container">{{ site_config.render_footer }} |
            <a href="{% url "source" %}">{% blocktrans with site_name=site_config.site_name %}{{ site_name }} is Free Software{% endblocktrans %}</a></div>
    </body>
</html>
