{% extends "subscribae/base.html" %}
{% load i18n %}

{% block head %}
    <script type="text/javascript" src="https://www.youtube.com/iframe_api" async></script>
{% endblock %}

{% block content %}
<p>{{ bucket.title }}</p>
<form action="{% url "bucket" bucket=bucket.pk %}" method="POST">
    {% csrf_token %}
    {{ form }}

    <button>Save</button>
</form>
<div id="subscriptions">
{% for subscription in bucket.subs.all %}
    <a href="{% url "subscription" subscription=subscription.pk %}">
        {% include "subscribae/includes/subscription-icon.html" with subscription=subscription %}
    </a>
{% endfor %}
</div>
<div id="player" data-api-url="{% url "video-api" bucket=bucket.pk %}"></div>
{% endblock %}
