{% extends "subscribae/base.html" %}
{% load i18n %}

{% block head %}
    <script type="text/javascript" src="https://www.youtube.com/iframe_api" async></script>
{% endblock %}

{% block content %}
<h1>{{ bucket.title }}</h1>
<div id="player-box"
    data-no-video-title="{% trans "No more videos" %}"
    data-no-video-description="{% trans "Sorry, looks like you've watched everything!" %}">
    <div id="player"
        data-api-url="{% url "video-api" bucket=bucket.pk %}"
        data-csrf="{{ csrf_token }}"
        >
        {% include "subscribae/includes/logo.svg" %}
    </div>
    <div class="flex flex-wrap flex-row">
        <div id="playlist-box" class="y-scroll gutter flex flex-column">
            <div class="scroller"><div id="playlist" class="videos"></div></div>
        </div>
        <div id="details-box" class="gutter"><h3 class="title"></h3><p class="description"></p></div>
    </div>
</div>
<div>
    <form action="{% url "bucket" bucket=bucket.pk %}" method="POST">
        {% csrf_token %}
        {% include "subscribae/includes/form.html" with form=form %}
        <button class="button button-primary">{% trans "Save" %}</button>
    </form>
</div>
{% endblock %}
