{% extends "subscribae/base.html" %}
{% load i18n %}

{% block content %}
<div class="subscription-list x-scroll padding-vertical-xs flex flex-row"
     data-more="{% trans "Show more" %}" data-less="{% trans "Show less" %}">
    <div class="scroller">
        {% for subscription in subscription_list %}
        <a href="{% url "subscription" subscription=subscription.pk %}" class="margin-right-xs margin-bottom-xs">
            {% include "subscribae/includes/subscription-icon.html" with subscription=subscription %}
        </a>
        {% endfor %}
    </div>
    <div class="more"><button>{% trans "Show more" %}</button></div>
</div>
<div class="padding-vertical-xs">
    <form action="{% url "bucket-new" %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="button button-primary">{% trans "Create new bucket" %}</button>
    </form>
</div>
<div class="bucket-list padding-vertical-xs">
    <div class="x-scroll flex flex-row flex-1-0-auto">
        {% for bucket in bucket_list %}
        <div class="bucket border border-color-secondary border-radius margin-right-xs">
            <div class="title font-weight-semibold padding-vertical-xs">
                <a href="{% url "bucket" bucket=bucket.pk %}">{{ bucket.title }}</a>
            </div>
            <div class="videos padding-xs">
                {% for video in bucket.video_set.all|slice:"10" %}{% include "subscribae/includes/videos.html" with video=video %}{% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
