{% extends "subscribae/base.html" %}

{% block content %}
<h1>Test</h1>
<p>Hello there!</p>
<ul>
    <li><button>default</button></li>
    <li><button class="button button-primary">prime</button></li>
    <li><button class="button button-secondary">double prime</button></li>
    <li><button class="button button-tertiary">triple prime</button></li>
    <li><button class="button button-primary button-border">prime</button></li>
    <li><button class="button button-secondary button-border">double prime</button></li>
    <li><button class="button button-tertiary button-border">triple prime</button></li>
    <li><button class="button error">error</button></li>
    <li><button class="button warning">warn</button></li>
    <li><button class="button success">success</button></li>
    <li><button class="button info">info</button></li>
    <li><button class="button error button-border">error</button></li>
    <li><button class="button warning button-border">warn</button></li>
    <li><button class="button success button-border">success</button></li>
    <li><button class="button info button-border">info</button></li>


</ul>
{% endblock %}
