{% extends "subscribae/base.html" %}

{% block content %}
<h1>Test</h1>
<p>Hello there!</p>
<ul>
    <li><button>default</button></li>
    <li><button class="button-primary">prime</button></li>
    <li><button class="button-secondary">double prime</button></li>
    <li><button class="button-tertiary">triple prime</button></li>
    <li><button class="button-primary button-border">prime</button></li>
    <li><button class="button-secondary button-border">double prime</button></li>
    <li><button class="button-tertiary button-border">triple prime</button></li>
    <li><button class="error">error</button></li>
    <li><button class="warning">warn</button></li>
    <li><button class="success">success</button></li>
    <li><button class="info">info</button></li>
    <li><button class="error button-border">error</button></li>
    <li><button class="warning button-border">warn</button></li>
    <li><button class="success button-border">success</button></li>
    <li><button class="info button-border">info</button></li>


</ul>
{% endblock %}
