{% extends "subscribae/base.html" %}
{% load i18n %}

{% block content %}
    {% include "subscribae/includes/subscription-icon.html" with subscription=subscription %}
    <p>{{ subscription.title }}</p>
    <p><pre>{{ subscription.description }}</pre></p>
    Buckets:
    <ul>
        {% for bucket in buckets %}
        <li><a href="{% url "bucket" bucket=bucket.pk %}">{{ bucket.title }}</a></li>
        {% empty %}
            <p>No buckets</p>
        {% endfor %}
    </ul>
    Videos:
    <ul>
        {% for video in subscription.video_set.all %}
        <li>{{ video.title }}</li>
        {% empty %}
            <p>No Videos</p>
        {% endfor %}
    </ul>
{% endblock %}
