{% extends "subscribae/base.html" %}
{% load i18n %}

{% block content %}
    {% include "subscribae/includes/subscription-icon.html" with subscription=subscription %}
    <div id="details-box" class="padding-vertical-xs">
        <h1 class="title">{{ subscription.title }}</h1>
        <p class="description">{{ subscription.description }}</p>
    </div>
    <div class="padding-vertical-xs">
        Buckets:
        <ul>
            {% for bucket in buckets %}
            <li><a href="{% url "bucket" bucket=bucket.pk %}">{{ bucket.title }}</a></li>
            {% empty %}
                <p>No buckets</p>
            {% endfor %}
        </ul>
    </div>
    <div class="padding-vertical-xs">
        Videos:
        <ul>
            {% for video in subscription.video_set.all %}
            <li>{{ video.title }}</li>
            {% empty %}
                <p>No Videos</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
